display-feed .list midwest-card {
  --border: transparent;
}

.dark-mode .list display-feed midwest-card {
  --border: transparent;
}

display-feed .loading {
  display: flex;
  margin-top: -3rem;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

display-feed midwest-asset {
  position: absolute;
  right: 1rem;
  top: 1rem;
}


display-feed .loading midwest-asset {
  margin-right: 1rem;
}