@import "./vendor/themes/light.css";
@import "./vendor/themes/dark.css";
@import "./vendor/themes/mentions.css";
@import "./vendor/themes/emoji.css";

midwest-rich-text {
  display: block;
  position: relative;
}

midwest-rich-text .ql-editor {
  max-height: 24rem;
}

midwest-rich-text context-consumer {
  display: none !important;
}

midwest-rich-text .input {
  display: block;
  background: var(--white);
  border: 1px solid var(--gray2) !important;
  border-radius: 0.2em;
  position: relative;
}

midwest-rich-text[inline] .input,
midwest-rich-text[inline] .input *,
midwest-rich-text[inline] .ql-editor.ql-blank::before {
  font-size: inherit !important;
  border: none !important;
  padding: 0.1rem 0 !important;
  left: 0 !important;
  border-radius: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  outline: none;
  letter-spacing: inherit;
}

midwest-rich-text[inline] .input:focus,
midwest-rich-text[inline] .input:focus-within {
  border-bottom: 2px solid var(--theme-base5) !important;
}

midwest-rich-text *:empty {
  display: block;
  height: 1em;
}

midwest-rich-text span.ql-mention-denotation-char {
  display: inline;
}

midwest-rich-text midwest-tooltip {
  pointer-events: none;
}

midwest-rich-text .input:hover,
midwest-rich-text .input:focus {
  border-color: var(--theme-base5) !important;
}

midwest-rich-text div.input.invalid,
midwest-rich-text .input:focus-within {
  box-shadow: inset 0 0 0 1px var(--theme-base5);
  border-color: var(--theme-base5) !important;
}

midwest-rich-text div.input.invalid,
midwest-rich-text .input:focus-within .ql-toolbar {
  border-color: var(--theme-base5);
  box-shadow: 0 0 0 1px var(--theme-base5);
}

midwest-rich-text[dark] .input {
  display: block;
  background: var(--gray9);
  border: 1px solid var(--gray8) !important;
  border-radius: 0.2em;
}

midwest-rich-text p {
  font-size: 1rem;
}

midwest-rich-text .star {
  color: var(--red5);
  padding-left: 0.125rem;
}

midwest-rich-text .validation {
  text-align: left;
  margin-bottom: 0;
  color: var(--red4);
  font-weight: 500;
}
