:host {
  display: block;
  --top: 0;
}

:host > midwest-label {
  padding: 0.25rem;
  background: var(--gray-1);
  position: sticky;
  top: var(--top);
  display: flex;
  width: 100%;
  margin: 0;
  z-index: 2;
  justify-content: space-between;
  box-shadow: 0 -1px 0 0 var(--gray-2);
}

:host > midwest-label span {
  color: var(--black);
  text-align: left;
}

:host > midwest-label span.supplement {
  color: var(--gray-7);
  text-align: right;
}

:host .list:empty {
  display: none;
}

:host([dark]) > midwest-label span {
  color: var(--white);
}

:host([dark]) > midwest-label span.supplement {
  color: var(--gray-4);
  text-align: right;
}

:host([dark]) > midwest-label {
  color: var(--white);
  background: var(--gray-9);
  box-shadow: 0 -1px 0 0 var(--gray-8);
}
