@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
@tailwind base;
@import "./theme.css";
@import "./automation.css";

:root {
  --black: color(black);
  --white: color(white);

  --gray-0: color(gray, 0);
  --gray-1: color(gray, 1);
  --gray-2: color(gray, 2);
  --gray-3: color(gray, 3);
  --gray-4: color(gray, 4);
  --gray-5: color(gray, 5);
  --gray-6: color(gray, 6);
  --gray-7: color(gray, 7);
  --gray-8: color(gray, 8);
  --gray-9: color(gray, 9);
  --gray-10: color(gray, 10);
  --gray-11: color(gray, 11);
  --gray-12: color(gray, 12);

  --red-0: color(red, 0);
  --red-1: color(red, 1);
  --red-2: color(red, 2);
  --red-3: color(red, 3);
  --red-4: color(red, 4);
  --red-5: color(red, 5);
  --red-6: color(red, 6);
  --red-7: color(red, 7);
  --red-8: color(red, 8);
  --red-9: color(red, 9);
  --red-10: color(red, 10);
  --red-11: color(red, 11);
  --red-12: color(red, 12);

  --orange-0: color(orange, 0);
  --orange-1: color(orange, 1);
  --orange-2: color(orange, 2);
  --orange-3: color(orange, 3);
  --orange-4: color(orange, 4);
  --orange-5: color(orange, 5);
  --orange-6: color(orange, 6);
  --orange-7: color(orange, 7);
  --orange-8: color(orange, 8);
  --orange-9: color(orange, 9);
  --orange-10: color(orange, 10);
  --orange-11: color(orange, 11);
  --orange-12: color(orange, 12);

  --gold-0: color(gold, 0);
  --gold-1: color(gold, 1);
  --gold-2: color(gold, 2);
  --gold-3: color(gold, 3);
  --gold-4: color(gold, 4);
  --gold-5: color(gold, 5);
  --gold-6: color(gold, 6);
  --gold-7: color(gold, 7);
  --gold-8: color(gold, 8);
  --gold-9: color(gold, 9);
  --gold-10: color(gold, 10);
  --gold-11: color(gold, 11);
  --gold-12: color(gold, 12);

  --yellow-0: color(yellow, 0);
  --yellow-1: color(yellow, 1);
  --yellow-2: color(yellow, 2);
  --yellow-3: color(yellow, 3);
  --yellow-4: color(yellow, 4);
  --yellow-5: color(yellow, 5);
  --yellow-6: color(yellow, 6);
  --yellow-7: color(yellow, 7);
  --yellow-8: color(yellow, 8);
  --yellow-9: color(yellow, 9);
  --yellow-10: color(yellow, 10);
  --yellow-11: color(yellow, 11);
  --yellow-12: color(yellow, 12);

  --lime-0: color(lime, 0);
  --lime-1: color(lime, 1);
  --lime-2: color(lime, 2);
  --lime-3: color(lime, 3);
  --lime-4: color(lime, 4);
  --lime-5: color(lime, 5);
  --lime-6: color(lime, 6);
  --lime-7: color(lime, 7);
  --lime-8: color(lime, 8);
  --lime-9: color(lime, 9);
  --lime-10: color(lime, 10);
  --lime-11: color(lime, 11);
  --lime-12: color(lime, 12);

  --green-0: color(green, 0);
  --green-1: color(green, 1);
  --green-2: color(green, 2);
  --green-3: color(green, 3);
  --green-4: color(green, 4);
  --green-5: color(green, 5);
  --green-6: color(green, 6);
  --green-7: color(green, 7);
  --green-8: color(green, 8);
  --green-9: color(green, 9);
  --green-10: color(green, 10);
  --green-11: color(green, 11);
  --green-12: color(green, 12);

  --teal-0: color(teal, 0);
  --teal-1: color(teal, 1);
  --teal-2: color(teal, 2);
  --teal-3: color(teal, 3);
  --teal-4: color(teal, 4);
  --teal-5: color(teal, 5);
  --teal-6: color(teal, 6);
  --teal-7: color(teal, 7);
  --teal-8: color(teal, 8);
  --teal-9: color(teal, 9);
  --teal-10: color(teal, 10);
  --teal-11: color(teal, 11);
  --teal-12: color(teal, 12);

  --cyan-0: color(cyan, 0);
  --cyan-1: color(cyan, 1);
  --cyan-2: color(cyan, 2);
  --cyan-3: color(cyan, 3);
  --cyan-4: color(cyan, 4);
  --cyan-5: color(cyan, 5);
  --cyan-6: color(cyan, 6);
  --cyan-7: color(cyan, 7);
  --cyan-8: color(cyan, 8);
  --cyan-9: color(cyan, 9);
  --cyan-10: color(cyan, 10);
  --cyan-11: color(cyan, 11);
  --cyan-12: color(cyan, 12);

  --blue-0: color(blue, 0);
  --blue-1: color(blue, 1);
  --blue-2: color(blue, 2);
  --blue-3: color(blue, 3);
  --blue-4: color(blue, 4);
  --blue-5: color(blue, 5);
  --blue-6: color(blue, 6);
  --blue-7: color(blue, 7);
  --blue-8: color(blue, 8);
  --blue-9: color(blue, 9);
  --blue-10: color(blue, 10);
  --blue-11: color(blue, 11);
  --blue-12: color(blue, 12);

  --indigo-0: color(indigo, 0);
  --indigo-1: color(indigo, 1);
  --indigo-2: color(indigo, 2);
  --indigo-3: color(indigo, 3);
  --indigo-4: color(indigo, 4);
  --indigo-5: color(indigo, 5);
  --indigo-6: color(indigo, 6);
  --indigo-7: color(indigo, 7);
  --indigo-8: color(indigo, 8);
  --indigo-9: color(indigo, 9);
  --indigo-10: color(indigo, 10);
  --indigo-11: color(indigo, 11);
  --indigo-12: color(indigo, 12);

  --violet-0: color(violet, 0);
  --violet-1: color(violet, 1);
  --violet-2: color(violet, 2);
  --violet-3: color(violet, 3);
  --violet-4: color(violet, 4);
  --violet-5: color(violet, 5);
  --violet-6: color(violet, 6);
  --violet-7: color(violet, 7);
  --violet-8: color(violet, 8);
  --violet-9: color(violet, 9);
  --violet-10: color(violet, 10);
  --violet-11: color(violet, 11);
  --violet-12: color(violet, 12);

  --magenta-0: color(magenta, 0);
  --magenta-1: color(magenta, 1);
  --magenta-2: color(magenta, 2);
  --magenta-3: color(magenta, 3);
  --magenta-4: color(magenta, 4);
  --magenta-5: color(magenta, 5);
  --magenta-6: color(magenta, 6);
  --magenta-7: color(magenta, 7);
  --magenta-8: color(magenta, 8);
  --magenta-9: color(magenta, 9);
  --magenta-10: color(magenta, 10);
  --magenta-11: color(magenta, 11);
  --magenta-12: color(magenta, 12);

  --pink-0: color(pink, 0);
  --pink-1: color(pink, 1);
  --pink-2: color(pink, 2);
  --pink-3: color(pink, 3);
  --pink-4: color(pink, 4);
  --pink-5: color(pink, 5);
  --pink-6: color(pink, 6);
  --pink-7: color(pink, 7);
  --pink-8: color(pink, 8);
  --pink-9: color(pink, 9);
  --pink-10: color(pink, 10);
  --pink-11: color(pink, 11);
  --pink-12: color(pink, 12);

  --ease: cubic-bezier(0.2, 0.3, 0.25, 0.9);

  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --font-heading: var(--font-system);
  --font-subheading: var(--font-system);
  --font-body: var(--font-system);

  --theme-0: var(--red-0);
  --theme-1: var(--red-1);
  --theme-2: var(--red-2);
  --theme-3: var(--red-3);
  --theme-4: var(--red-4);
  --theme-5: var(--red-5);
  --theme-6: var(--red-6);
  --theme-7: var(--red-7);
  --theme-8: var(--red-8);
  --theme-9: var(--red-9);

  --complement-0: var(--indigo-0);
  --complement-1: var(--indigo-1);
  --complement-2: var(--indigo-2);
  --complement-3: var(--indigo-3);
  --complement-4: var(--indigo-4);
  --complement-5: var(--indigo-5);
  --complement-6: var(--indigo-6);
  --complement-7: var(--indigo-7);
  --complement-8: var(--indigo-8);
  --complement-9: var(--indigo-9);
}

@tailwind utilities;
