:root {
  --facebook: #4469b0;
  --twitter: #4287f5;
  --linkedin: #0073b1;
  --instagram-gradient: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.theme-gray {
  --theme-base-0: var(--gray0);
  --theme-base-1: var(--gray1);
  --theme-base-2: var(--gray2);
  --theme-base-3: var(--gray3);
  --theme-base-4: var(--gray4);
  --theme-base-5: var(--gray5);
  --theme-base-6: var(--gray6);
  --theme-base-7: var(--gray7);
  --theme-base-8: var(--gray8);
  --theme-base-9: var(--gray9);
  --theme-base-10: var(--gray10);
  --theme-base-11: var(--gray11);
  --theme-base-12: var(--gray12);
}

.theme-red {
  --theme-base-0: var(--red0);
  --theme-base-1: var(--red1);
  --theme-base-2: var(--red2);
  --theme-base-3: var(--red3);
  --theme-base-4: var(--red4);
  --theme-base-5: var(--red5);
  --theme-base-6: var(--red6);
  --theme-base-7: var(--red7);
  --theme-base-8: var(--red8);
  --theme-base-9: var(--red9);
  --theme-base-10: var(--red10);
  --theme-base-11: var(--red11);
  --theme-base-12: var(--red12);
}

.theme-orange {
  --theme-base-0: var(--orange0);
  --theme-base-1: var(--orange1);
  --theme-base-2: var(--orange2);
  --theme-base-3: var(--orange3);
  --theme-base-4: var(--orange4);
  --theme-base-5: var(--orange5);
  --theme-base-6: var(--orange6);
  --theme-base-7: var(--orange7);
  --theme-base-8: var(--orange8);
  --theme-base-9: var(--orange9);
  --theme-base-10: var(--orange10);
  --theme-base-11: var(--orange11);
  --theme-base-12: var(--orange12);
}

.theme-gold {
  --theme-base-0: var(--gold0);
  --theme-base-1: var(--gold1);
  --theme-base-2: var(--gold2);
  --theme-base-3: var(--gold3);
  --theme-base-4: var(--gold4);
  --theme-base-5: var(--gold5);
  --theme-base-6: var(--gold6);
  --theme-base-7: var(--gold7);
  --theme-base-8: var(--gold8);
  --theme-base-9: var(--gold9);
  --theme-base-10: var(--gold10);
  --theme-base-11: var(--gold11);
  --theme-base-12: var(--gold12);
}

.theme-yellow {
  --theme-base-0: var(--yellow0);
  --theme-base-1: var(--yellow1);
  --theme-base-2: var(--yellow2);
  --theme-base-3: var(--yellow3);
  --theme-base-4: var(--yellow4);
  --theme-base-5: var(--yellow5);
  --theme-base-6: var(--yellow6);
  --theme-base-7: var(--yellow7);
  --theme-base-8: var(--yellow8);
  --theme-base-9: var(--yellow9);
  --theme-base-10: var(--yellow10);
  --theme-base-11: var(--yellow11);
  --theme-base-12: var(--yellow12);
}

.theme-lime {
  --theme-base-0: var(--lime0);
  --theme-base-1: var(--lime1);
  --theme-base-2: var(--lime2);
  --theme-base-3: var(--lime3);
  --theme-base-4: var(--lime4);
  --theme-base-5: var(--lime5);
  --theme-base-6: var(--lime6);
  --theme-base-7: var(--lime7);
  --theme-base-8: var(--lime8);
  --theme-base-9: var(--lime9);
  --theme-base-10: var(--lime10);
  --theme-base-11: var(--lime11);
  --theme-base-12: var(--lime12);
}

.theme-green {
  --theme-base-0: var(--green0);
  --theme-base-1: var(--green1);
  --theme-base-2: var(--green2);
  --theme-base-3: var(--green3);
  --theme-base-4: var(--green4);
  --theme-base-5: var(--green5);
  --theme-base-6: var(--green6);
  --theme-base-7: var(--green7);
  --theme-base-8: var(--green8);
  --theme-base-9: var(--green9);
  --theme-base-10: var(--green10);
  --theme-base-11: var(--green11);
  --theme-base-12: var(--green12);
}

.theme-teal {
  --theme-base-0: var(--teal0);
  --theme-base-1: var(--teal1);
  --theme-base-2: var(--teal2);
  --theme-base-3: var(--teal3);
  --theme-base-4: var(--teal4);
  --theme-base-5: var(--teal5);
  --theme-base-6: var(--teal6);
  --theme-base-7: var(--teal7);
  --theme-base-8: var(--teal8);
  --theme-base-9: var(--teal9);
  --theme-base-10: var(--teal10);
  --theme-base-11: var(--teal11);
  --theme-base-12: var(--teal12);
}

.theme-cyan {
  --theme-base-0: var(--cyan0);
  --theme-base-1: var(--cyan1);
  --theme-base-2: var(--cyan2);
  --theme-base-3: var(--cyan3);
  --theme-base-4: var(--cyan4);
  --theme-base-5: var(--cyan5);
  --theme-base-6: var(--cyan6);
  --theme-base-7: var(--cyan7);
  --theme-base-8: var(--cyan8);
  --theme-base-9: var(--cyan9);
  --theme-base-10: var(--cyan10);
  --theme-base-11: var(--cyan11);
  --theme-base-12: var(--cyan12);
}

.theme-blue {
  --theme-base-0: var(--blue0);
  --theme-base-1: var(--blue1);
  --theme-base-2: var(--blue2);
  --theme-base-3: var(--blue3);
  --theme-base-4: var(--blue4);
  --theme-base-5: var(--blue5);
  --theme-base-6: var(--blue6);
  --theme-base-7: var(--blue7);
  --theme-base-8: var(--blue8);
  --theme-base-9: var(--blue9);
  --theme-base-10: var(--blue10);
  --theme-base-11: var(--blue11);
  --theme-base-12: var(--blue12);
}

.theme-indigo {
  --theme-base-0: var(--indigo0);
  --theme-base-1: var(--indigo1);
  --theme-base-2: var(--indigo2);
  --theme-base-3: var(--indigo3);
  --theme-base-4: var(--indigo4);
  --theme-base-5: var(--indigo5);
  --theme-base-6: var(--indigo6);
  --theme-base-7: var(--indigo7);
  --theme-base-8: var(--indigo8);
  --theme-base-9: var(--indigo9);
  --theme-base-10: var(--indigo10);
  --theme-base-11: var(--indigo11);
  --theme-base-12: var(--indigo12);
}

.theme-violet {
  --theme-base-0: var(--violet0);
  --theme-base-1: var(--violet1);
  --theme-base-2: var(--violet2);
  --theme-base-3: var(--violet3);
  --theme-base-4: var(--violet4);
  --theme-base-5: var(--violet5);
  --theme-base-6: var(--violet6);
  --theme-base-7: var(--violet7);
  --theme-base-8: var(--violet8);
  --theme-base-9: var(--violet9);
  --theme-base-10: var(--violet10);
  --theme-base-11: var(--violet11);
  --theme-base-12: var(--violet12);
}

.theme-magenta {
  --theme-base-0: var(--magenta0);
  --theme-base-1: var(--magenta1);
  --theme-base-2: var(--magenta2);
  --theme-base-3: var(--magenta3);
  --theme-base-4: var(--magenta4);
  --theme-base-5: var(--magenta5);
  --theme-base-6: var(--magenta6);
  --theme-base-7: var(--magenta7);
  --theme-base-8: var(--magenta8);
  --theme-base-9: var(--magenta9);
  --theme-base-10: var(--magenta10);
  --theme-base-11: var(--magenta11);
  --theme-base-12: var(--magenta12);
}

.theme-pink {
  --theme-base-0: var(--pink0);
  --theme-base-1: var(--pink1);
  --theme-base-2: var(--pink2);
  --theme-base-3: var(--pink3);
  --theme-base-4: var(--pink4);
  --theme-base-5: var(--pink5);
  --theme-base-6: var(--pink6);
  --theme-base-7: var(--pink7);
  --theme-base-8: var(--pink8);
  --theme-base-9: var(--pink9);
  --theme-base-10: var(--pink10);
  --theme-base-11: var(--pink11);
  --theme-base-12: var(--pink12);
}

/* Completing */
.complement-gray {
  --theme-complement-0: var(--gray0);
  --theme-complement-1: var(--gray1);
  --theme-complement-2: var(--gray2);
  --theme-complement-3: var(--gray3);
  --theme-complement-4: var(--gray4);
  --theme-complement-5: var(--gray5);
  --theme-complement-6: var(--gray6);
  --theme-complement-7: var(--gray7);
  --theme-complement-8: var(--gray8);
  --theme-complement-9: var(--gray9);
  --theme-complement-10: var(--gray10);
  --theme-complement-11: var(--gray11);
  --theme-complement-12: var(--gray12);
}

.complement-red {
  --theme-complement-0: var(--red0);
  --theme-complement-1: var(--red1);
  --theme-complement-2: var(--red2);
  --theme-complement-3: var(--red3);
  --theme-complement-4: var(--red4);
  --theme-complement-5: var(--red5);
  --theme-complement-6: var(--red6);
  --theme-complement-7: var(--red7);
  --theme-complement-8: var(--red8);
  --theme-complement-9: var(--red9);
  --theme-complement-10: var(--red10);
  --theme-complement-11: var(--red11);
  --theme-complement-12: var(--red12);
}

.complement-orange {
  --theme-complement-0: var(--orange0);
  --theme-complement-1: var(--orange1);
  --theme-complement-2: var(--orange2);
  --theme-complement-3: var(--orange3);
  --theme-complement-4: var(--orange4);
  --theme-complement-5: var(--orange5);
  --theme-complement-6: var(--orange6);
  --theme-complement-7: var(--orange7);
  --theme-complement-8: var(--orange8);
  --theme-complement-9: var(--orange9);
  --theme-complement-10: var(--orange10);
  --theme-complement-11: var(--orange11);
  --theme-complement-12: var(--orange12);
}

.complement-yellow {
  --theme-complement-0: var(--yellow0);
  --theme-complement-1: var(--yellow1);
  --theme-complement-2: var(--yellow2);
  --theme-complement-3: var(--yellow3);
  --theme-complement-4: var(--yellow4);
  --theme-complement-5: var(--yellow5);
  --theme-complement-6: var(--yellow6);
  --theme-complement-7: var(--yellow7);
  --theme-complement-8: var(--yellow8);
  --theme-complement-9: var(--yellow9);
  --theme-complement-10: var(--yellow10);
  --theme-complement-11: var(--yellow11);
  --theme-complement-12: var(--yellow12);
}

.complement-lime {
  --theme-complement-0: var(--lime0);
  --theme-complement-1: var(--lime1);
  --theme-complement-2: var(--lime2);
  --theme-complement-3: var(--lime3);
  --theme-complement-4: var(--lime4);
  --theme-complement-5: var(--lime5);
  --theme-complement-6: var(--lime6);
  --theme-complement-7: var(--lime7);
  --theme-complement-8: var(--lime8);
  --theme-complement-9: var(--lime9);
  --theme-complement-10: var(--lime10);
  --theme-complement-11: var(--lime11);
  --theme-complement-12: var(--lime12);
}

.complement-green {
  --theme-complement-0: var(--green0);
  --theme-complement-1: var(--green1);
  --theme-complement-2: var(--green2);
  --theme-complement-3: var(--green3);
  --theme-complement-4: var(--green4);
  --theme-complement-5: var(--green5);
  --theme-complement-6: var(--green6);
  --theme-complement-7: var(--green7);
  --theme-complement-8: var(--green8);
  --theme-complement-9: var(--green9);
  --theme-complement-10: var(--green10);
  --theme-complement-11: var(--green11);
  --theme-complement-12: var(--green12);
}

.complement-teal {
  --theme-complement-0: var(--teal0);
  --theme-complement-1: var(--teal1);
  --theme-complement-2: var(--teal2);
  --theme-complement-3: var(--teal3);
  --theme-complement-4: var(--teal4);
  --theme-complement-5: var(--teal5);
  --theme-complement-6: var(--teal6);
  --theme-complement-7: var(--teal7);
  --theme-complement-8: var(--teal8);
  --theme-complement-9: var(--teal9);
  --theme-complement-10: var(--teal10);
  --theme-complement-11: var(--teal11);
  --theme-complement-12: var(--teal12);
}

.complement-cyan {
  --theme-complement-0: var(--cyan0);
  --theme-complement-1: var(--cyan1);
  --theme-complement-2: var(--cyan2);
  --theme-complement-3: var(--cyan3);
  --theme-complement-4: var(--cyan4);
  --theme-complement-5: var(--cyan5);
  --theme-complement-6: var(--cyan6);
  --theme-complement-7: var(--cyan7);
  --theme-complement-8: var(--cyan8);
  --theme-complement-9: var(--cyan9);
  --theme-complement-10: var(--cyan10);
  --theme-complement-11: var(--cyan11);
  --theme-complement-12: var(--cyan12);
}

.complement-blue {
  --theme-complement-0: var(--blue0);
  --theme-complement-1: var(--blue1);
  --theme-complement-2: var(--blue2);
  --theme-complement-3: var(--blue3);
  --theme-complement-4: var(--blue4);
  --theme-complement-5: var(--blue5);
  --theme-complement-6: var(--blue6);
  --theme-complement-7: var(--blue7);
  --theme-complement-8: var(--blue8);
  --theme-complement-9: var(--blue9);
  --theme-complement-10: var(--blue10);
  --theme-complement-11: var(--blue11);
  --theme-complement-12: var(--blue12);
}

.complement-indigo {
  --theme-complement-0: var(--indigo0);
  --theme-complement-1: var(--indigo1);
  --theme-complement-2: var(--indigo2);
  --theme-complement-3: var(--indigo3);
  --theme-complement-4: var(--indigo4);
  --theme-complement-5: var(--indigo5);
  --theme-complement-6: var(--indigo6);
  --theme-complement-7: var(--indigo7);
  --theme-complement-8: var(--indigo8);
  --theme-complement-9: var(--indigo9);
  --theme-complement-10: var(--indigo10);
  --theme-complement-11: var(--indigo11);
  --theme-complement-12: var(--indigo12);
}

.complement-violet {
  --theme-complement-0: var(--violet0);
  --theme-complement-1: var(--violet1);
  --theme-complement-2: var(--violet2);
  --theme-complement-3: var(--violet3);
  --theme-complement-4: var(--violet4);
  --theme-complement-5: var(--violet5);
  --theme-complement-6: var(--violet6);
  --theme-complement-7: var(--violet7);
  --theme-complement-8: var(--violet8);
  --theme-complement-9: var(--violet9);
  --theme-complement-10: var(--violet10);
  --theme-complement-11: var(--violet11);
  --theme-complement-12: var(--violet12);
}

.complement-magenta {
  --theme-complement-0: var(--magenta0);
  --theme-complement-1: var(--magenta1);
  --theme-complement-2: var(--magenta2);
  --theme-complement-3: var(--magenta3);
  --theme-complement-4: var(--magenta4);
  --theme-complement-5: var(--magenta5);
  --theme-complement-6: var(--magenta6);
  --theme-complement-7: var(--magenta7);
  --theme-complement-8: var(--magenta8);
  --theme-complement-9: var(--magenta9);
  --theme-complement-10: var(--magenta10);
  --theme-complement-11: var(--magenta11);
  --theme-complement-12: var(--magenta12);
}

.complement-pink {
  --theme-complement-0: var(--pink0);
  --theme-complement-1: var(--pink1);
  --theme-complement-2: var(--pink2);
  --theme-complement-3: var(--pink3);
  --theme-complement-4: var(--pink4);
  --theme-complement-5: var(--pink5);
  --theme-complement-6: var(--pink6);
  --theme-complement-7: var(--pink7);
  --theme-complement-8: var(--pink8);
  --theme-complement-9: var(--pink9);
  --theme-complement-10: var(--pink10);
  --theme-complement-11: var(--pink11);
  --theme-complement-12: var(--pink12);
}
