:root {
  --facebook: #4469b0;
  --twitter: #4287f5;
  --linkedin: #0073b1;
  --instagram-gradient: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.theme-gray {
  --theme-0: var(--gray-0);
  --theme-1: var(--gray-1);
  --theme-2: var(--gray-2);
  --theme-3: var(--gray-3);
  --theme-4: var(--gray-4);
  --theme-5: var(--gray-5);
  --theme-6: var(--gray-6);
  --theme-7: var(--gray-7);
  --theme-8: var(--gray-8);
  --theme-9: var(--gray-9);
  --theme-10: var(--gray-10);
  --theme-11: var(--gray-11);
  --theme-12: var(--gray-12);
}

.theme-red {
  --theme-0: var(--red-0);
  --theme-1: var(--red-1);
  --theme-2: var(--red-2);
  --theme-3: var(--red-3);
  --theme-4: var(--red-4);
  --theme-5: var(--red-5);
  --theme-6: var(--red-6);
  --theme-7: var(--red-7);
  --theme-8: var(--red-8);
  --theme-9: var(--red-9);
  --theme-10: var(--red-10);
  --theme-11: var(--red-11);
  --theme-12: var(--red-12);
}

.theme-orange {
  --theme-0: var(--orange-0);
  --theme-1: var(--orange-1);
  --theme-2: var(--orange-2);
  --theme-3: var(--orange-3);
  --theme-4: var(--orange-4);
  --theme-5: var(--orange-5);
  --theme-6: var(--orange-6);
  --theme-7: var(--orange-7);
  --theme-8: var(--orange-8);
  --theme-9: var(--orange-9);
  --theme-10: var(--orange-10);
  --theme-11: var(--orange-11);
  --theme-12: var(--orange-12);
}

.theme-gold {
  --theme-0: var(--gold-0);
  --theme-1: var(--gold-1);
  --theme-2: var(--gold-2);
  --theme-3: var(--gold-3);
  --theme-4: var(--gold-4);
  --theme-5: var(--gold-5);
  --theme-6: var(--gold-6);
  --theme-7: var(--gold-7);
  --theme-8: var(--gold-8);
  --theme-9: var(--gold-9);
  --theme-10: var(--gold-10);
  --theme-11: var(--gold-11);
  --theme-12: var(--gold-12);
}

.theme-yellow {
  --theme-0: var(--yellow-0);
  --theme-1: var(--yellow-1);
  --theme-2: var(--yellow-2);
  --theme-3: var(--yellow-3);
  --theme-4: var(--yellow-4);
  --theme-5: var(--yellow-5);
  --theme-6: var(--yellow-6);
  --theme-7: var(--yellow-7);
  --theme-8: var(--yellow-8);
  --theme-9: var(--yellow-9);
  --theme-10: var(--yellow-10);
  --theme-11: var(--yellow-11);
  --theme-12: var(--yellow-12);
}

.theme-lime {
  --theme-0: var(--lime-0);
  --theme-1: var(--lime-1);
  --theme-2: var(--lime-2);
  --theme-3: var(--lime-3);
  --theme-4: var(--lime-4);
  --theme-5: var(--lime-5);
  --theme-6: var(--lime-6);
  --theme-7: var(--lime-7);
  --theme-8: var(--lime-8);
  --theme-9: var(--lime-9);
  --theme-10: var(--lime-10);
  --theme-11: var(--lime-11);
  --theme-12: var(--lime-12);
}

.theme-green {
  --theme-0: var(--green-0);
  --theme-1: var(--green-1);
  --theme-2: var(--green-2);
  --theme-3: var(--green-3);
  --theme-4: var(--green-4);
  --theme-5: var(--green-5);
  --theme-6: var(--green-6);
  --theme-7: var(--green-7);
  --theme-8: var(--green-8);
  --theme-9: var(--green-9);
  --theme-10: var(--green-10);
  --theme-11: var(--green-11);
  --theme-12: var(--green-12);
}

.theme-teal {
  --theme-0: var(--teal-0);
  --theme-1: var(--teal-1);
  --theme-2: var(--teal-2);
  --theme-3: var(--teal-3);
  --theme-4: var(--teal-4);
  --theme-5: var(--teal-5);
  --theme-6: var(--teal-6);
  --theme-7: var(--teal-7);
  --theme-8: var(--teal-8);
  --theme-9: var(--teal-9);
  --theme-10: var(--teal-10);
  --theme-11: var(--teal-11);
  --theme-12: var(--teal-12);
}

.theme-cyan {
  --theme-0: var(--cyan-0);
  --theme-1: var(--cyan-1);
  --theme-2: var(--cyan-2);
  --theme-3: var(--cyan-3);
  --theme-4: var(--cyan-4);
  --theme-5: var(--cyan-5);
  --theme-6: var(--cyan-6);
  --theme-7: var(--cyan-7);
  --theme-8: var(--cyan-8);
  --theme-9: var(--cyan-9);
  --theme-10: var(--cyan-10);
  --theme-11: var(--cyan-11);
  --theme-12: var(--cyan-12);
}

.theme-blue {
  --theme-0: var(--blue-0);
  --theme-1: var(--blue-1);
  --theme-2: var(--blue-2);
  --theme-3: var(--blue-3);
  --theme-4: var(--blue-4);
  --theme-5: var(--blue-5);
  --theme-6: var(--blue-6);
  --theme-7: var(--blue-7);
  --theme-8: var(--blue-8);
  --theme-9: var(--blue-9);
  --theme-10: var(--blue-10);
  --theme-11: var(--blue-11);
  --theme-12: var(--blue-12);
}

.theme-indigo {
  --theme-0: var(--indigo-0);
  --theme-1: var(--indigo-1);
  --theme-2: var(--indigo-2);
  --theme-3: var(--indigo-3);
  --theme-4: var(--indigo-4);
  --theme-5: var(--indigo-5);
  --theme-6: var(--indigo-6);
  --theme-7: var(--indigo-7);
  --theme-8: var(--indigo-8);
  --theme-9: var(--indigo-9);
  --theme-10: var(--indigo-10);
  --theme-11: var(--indigo-11);
  --theme-12: var(--indigo-12);
}

.theme-violet {
  --theme-0: var(--violet-0);
  --theme-1: var(--violet-1);
  --theme-2: var(--violet-2);
  --theme-3: var(--violet-3);
  --theme-4: var(--violet-4);
  --theme-5: var(--violet-5);
  --theme-6: var(--violet-6);
  --theme-7: var(--violet-7);
  --theme-8: var(--violet-8);
  --theme-9: var(--violet-9);
  --theme-10: var(--violet-10);
  --theme-11: var(--violet-11);
  --theme-12: var(--violet-12);
}

.theme-magenta {
  --theme-0: var(--magenta-0);
  --theme-1: var(--magenta-1);
  --theme-2: var(--magenta-2);
  --theme-3: var(--magenta-3);
  --theme-4: var(--magenta-4);
  --theme-5: var(--magenta-5);
  --theme-6: var(--magenta-6);
  --theme-7: var(--magenta-7);
  --theme-8: var(--magenta-8);
  --theme-9: var(--magenta-9);
  --theme-10: var(--magenta-10);
  --theme-11: var(--magenta-11);
  --theme-12: var(--magenta-12);
}

.theme-pink {
  --theme-0: var(--pink0);
  --theme-1: var(--pink1);
  --theme-2: var(--pink2);
  --theme-3: var(--pink3);
  --theme-4: var(--pink4);
  --theme-5: var(--pink5);
  --theme-6: var(--pink6);
  --theme-7: var(--pink7);
  --theme-8: var(--pink8);
  --theme-9: var(--pink9);
  --theme-10: var(--pink10);
  --theme-11: var(--pink11);
  --theme-12: var(--pink12);
}

/* Completing */
.complement-gray {
  --complement-0: var(--gray-0);
  --complement-1: var(--gray-1);
  --complement-2: var(--gray-2);
  --complement-3: var(--gray-3);
  --complement-4: var(--gray-4);
  --complement-5: var(--gray-5);
  --complement-6: var(--gray-6);
  --complement-7: var(--gray-7);
  --complement-8: var(--gray-8);
  --complement-9: var(--gray-9);
  --complement-10: var(--gray-10);
  --complement-11: var(--gray-11);
  --complement-12: var(--gray-12);
}

.complement-red {
  --complement-0: var(--red-0);
  --complement-1: var(--red-1);
  --complement-2: var(--red-2);
  --complement-3: var(--red-3);
  --complement-4: var(--red-4);
  --complement-5: var(--red-5);
  --complement-6: var(--red-6);
  --complement-7: var(--red-7);
  --complement-8: var(--red-8);
  --complement-9: var(--red-9);
  --complement-10: var(--red-10);
  --complement-11: var(--red-11);
  --complement-12: var(--red-12);
}

.complement-orange {
  --complement-0: var(--orange-0);
  --complement-1: var(--orange-1);
  --complement-2: var(--orange-2);
  --complement-3: var(--orange-3);
  --complement-4: var(--orange-4);
  --complement-5: var(--orange-5);
  --complement-6: var(--orange-6);
  --complement-7: var(--orange-7);
  --complement-8: var(--orange-8);
  --complement-9: var(--orange-9);
  --complement-10: var(--orange-10);
  --complement-11: var(--orange-11);
  --complement-12: var(--orange-12);
}

.complement-yellow {
  --complement-0: var(--yellow-0);
  --complement-1: var(--yellow-1);
  --complement-2: var(--yellow-2);
  --complement-3: var(--yellow-3);
  --complement-4: var(--yellow-4);
  --complement-5: var(--yellow-5);
  --complement-6: var(--yellow-6);
  --complement-7: var(--yellow-7);
  --complement-8: var(--yellow-8);
  --complement-9: var(--yellow-9);
  --complement-10: var(--yellow-10);
  --complement-11: var(--yellow-11);
  --complement-12: var(--yellow-12);
}

.complement-lime {
  --complement-0: var(--lime-0);
  --complement-1: var(--lime-1);
  --complement-2: var(--lime-2);
  --complement-3: var(--lime-3);
  --complement-4: var(--lime-4);
  --complement-5: var(--lime-5);
  --complement-6: var(--lime-6);
  --complement-7: var(--lime-7);
  --complement-8: var(--lime-8);
  --complement-9: var(--lime-9);
  --complement-10: var(--lime-10);
  --complement-11: var(--lime-11);
  --complement-12: var(--lime-12);
}

.complement-green {
  --complement-0: var(--green-0);
  --complement-1: var(--green-1);
  --complement-2: var(--green-2);
  --complement-3: var(--green-3);
  --complement-4: var(--green-4);
  --complement-5: var(--green-5);
  --complement-6: var(--green-6);
  --complement-7: var(--green-7);
  --complement-8: var(--green-8);
  --complement-9: var(--green-9);
  --complement-10: var(--green-10);
  --complement-11: var(--green-11);
  --complement-12: var(--green-12);
}

.complement-teal {
  --complement-0: var(--teal-0);
  --complement-1: var(--teal-1);
  --complement-2: var(--teal-2);
  --complement-3: var(--teal-3);
  --complement-4: var(--teal-4);
  --complement-5: var(--teal-5);
  --complement-6: var(--teal-6);
  --complement-7: var(--teal-7);
  --complement-8: var(--teal-8);
  --complement-9: var(--teal-9);
  --complement-10: var(--teal-10);
  --complement-11: var(--teal-11);
  --complement-12: var(--teal-12);
}

.complement-cyan {
  --complement-0: var(--cyan-0);
  --complement-1: var(--cyan-1);
  --complement-2: var(--cyan-2);
  --complement-3: var(--cyan-3);
  --complement-4: var(--cyan-4);
  --complement-5: var(--cyan-5);
  --complement-6: var(--cyan-6);
  --complement-7: var(--cyan-7);
  --complement-8: var(--cyan-8);
  --complement-9: var(--cyan-9);
  --complement-10: var(--cyan-10);
  --complement-11: var(--cyan-11);
  --complement-12: var(--cyan-12);
}

.complement-blue {
  --complement-0: var(--blue-0);
  --complement-1: var(--blue-1);
  --complement-2: var(--blue-2);
  --complement-3: var(--blue-3);
  --complement-4: var(--blue-4);
  --complement-5: var(--blue-5);
  --complement-6: var(--blue-6);
  --complement-7: var(--blue-7);
  --complement-8: var(--blue-8);
  --complement-9: var(--blue-9);
  --complement-10: var(--blue-10);
  --complement-11: var(--blue-11);
  --complement-12: var(--blue-12);
}

.complement-indigo {
  --complement-0: var(--indigo-0);
  --complement-1: var(--indigo-1);
  --complement-2: var(--indigo-2);
  --complement-3: var(--indigo-3);
  --complement-4: var(--indigo-4);
  --complement-5: var(--indigo-5);
  --complement-6: var(--indigo-6);
  --complement-7: var(--indigo-7);
  --complement-8: var(--indigo-8);
  --complement-9: var(--indigo-9);
  --complement-10: var(--indigo-10);
  --complement-11: var(--indigo-11);
  --complement-12: var(--indigo-12);
}

.complement-violet {
  --complement-0: var(--violet-0);
  --complement-1: var(--violet-1);
  --complement-2: var(--violet-2);
  --complement-3: var(--violet-3);
  --complement-4: var(--violet-4);
  --complement-5: var(--violet-5);
  --complement-6: var(--violet-6);
  --complement-7: var(--violet-7);
  --complement-8: var(--violet-8);
  --complement-9: var(--violet-9);
  --complement-10: var(--violet-10);
  --complement-11: var(--violet-11);
  --complement-12: var(--violet-12);
}

.complement-magenta {
  --complement-0: var(--magenta-0);
  --complement-1: var(--magenta-1);
  --complement-2: var(--magenta-2);
  --complement-3: var(--magenta-3);
  --complement-4: var(--magenta-4);
  --complement-5: var(--magenta-5);
  --complement-6: var(--magenta-6);
  --complement-7: var(--magenta-7);
  --complement-8: var(--magenta-8);
  --complement-9: var(--magenta-9);
  --complement-10: var(--magenta-10);
  --complement-11: var(--magenta-11);
  --complement-12: var(--magenta-12);
}

.complement-pink {
  --complement-0: var(--pink0);
  --complement-1: var(--pink1);
  --complement-2: var(--pink2);
  --complement-3: var(--pink3);
  --complement-4: var(--pink4);
  --complement-5: var(--pink5);
  --complement-6: var(--pink6);
  --complement-7: var(--pink7);
  --complement-8: var(--pink8);
  --complement-9: var(--pink9);
  --complement-10: var(--pink10);
  --complement-11: var(--pink11);
  --complement-12: var(--pink12);
}
