:host {
  display: block;
  width: 100%;
  height: 4rem;
}

:host .step-list {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host ::slotted(midwest-step) {
  height: 100%;
}

:host ::slotted(midwest-step:first-of-type) {
  clip-path: url(#start);
  clip-path: polygon(
    calc(100% - 2rem) 0%,
    100% 50%,
    calc(100% - 2rem) 100%,
    0% 100%,
    0% 0%
  );
}

:host ::slotted(midwest-step:last-of-type) {
  clip-path: url(#end);
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 2rem 50%, 0% 0%);
}
