:host {
  appearance: none !important;
  -webkit-appearance: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: var(--wrap-display, inline-flex);
  text-align: center;
  align-self: center;
  outline: none;
  border-radius: var(--border-radius, 0);

  --width: auto;
  --height: auto;
  --padding-vertical: 0.5em;
  --padding-horizontal: 1em;
  --padding: var(--padding-vertical) var(--padding-horizontal);
  --background: var(--theme-base-5);
  --color: var(--white);
  --border: none;
  --active-background: var(--theme-base-7);
  --active-color: var(--white);
  --active-border: none;
  --border: none;
  --border-radius: 0.2em;
  --font-size: 1rem;
  --text-decoration: none;
  --text-transform: uppercase;
}

:host([outline]) {
  --padding-vertical: calc(0.5em - 2px);
  --padding-horizontal: calc(1em - 2px);
  --background: transparent;
  --color: var(--theme-base-5);
  --border: 2px solid currentColor;
  --active-background: var(--theme-base-0);
  --active-color: var(--theme-base-7);
  --active-border: 2px solid currentColor;
}

:host([disabled]) {
  --background: var(--gray5);
  --color: var(--gray7);
  --border: none;
  --active-background: var(--gray5);
  --active-color: var(--gray7);
  --active-border: none;
}

:host([disabled]),
:host([disabled]) * {
  cursor: not-allowed !important;
}

:host([ghost]) {
  --padding-vertical: 0;
  --padding-horizontal: 0;
  --background: none;
  --color: var(--theme-base-5);
  --border: none;
  --active-background: none;
  --active-color: var(--theme-base-7);
  --active-border: none;
  line-height: 1;
}

:host([outline][invert]) {
  --background: transparent;
  --border: 2px solid currentColor;
  --active-background: var(--theme-base-0);
  --active-border: 2px solid currentColor;
}

:host([ghost][invert]) {
  --background: none;
  --color: var(--white);
  --border: none;
  --active-background: none;
  --active-color: var(--theme-base-1);
  --active-border: none;
}

:host([invert]) {
  --background: var(--white);
  --color: var(--theme-base-2);
  --border: none;
  --active-background: var(--theme-base-0);
  --active-color: var(--theme-base-5);
  --active-border: none;
}

:host([contrast]) {
  --background: var(--theme-base-7);
  --color: var(--white);
  --border: none;
  --active-background: var(--theme-base-9);
  --active-color: var(--theme-base-0);
  --active-border: none;
}

:host([contrast][outline]) {
  --border: 2px solid var(--white);
  --active-border: 2px solid var(--theme-base-0);
}

:host([contrast][invert]) {
  --active-color: var(--theme-base-5);
}

:host([pill]) {
  --border-radius: 1000px;
}

:host([size="tiny"]) {
  --font-size: 0.75rem;
}

:host([size="small"]) {
  --font-size: 0.875rem;
}

:host([size="medium"]) {
  --font-size: 1.125rem;
}

:host([size="large"]) {
  --font-size: 1.25rem;
}

:host([padding="tiny"]) {
  --padding-vertical: 0.25em;
  --padding-horizontal: 0.5em;
}

:host([padding="small"]) {
  --padding-vertical: 0.35em;
  --padding-horizontal: 0.875em;
}

:host([padding="medium"]) {
  --padding-vertical: 0.75em;
  --padding-horizontal: 1.25em;
}

:host([padding="large"]) {
  --padding-vertical: 1em;
  --padding-horizontal: 1.5em;
}

:host([icon-only]),
:host([only-icon]) {
  --padding: var(--padding-vertical);
}

:host([icon-only]) .button,
:host([only-icon]) .button {
  grid-template-columns: auto;
}

:host([icon-only]) ::slotted([slot="icon"]),
:host([only-icon]) ::slotted([slot="icon"]) {
  margin: 0;
}

:host(:not([disabled]):active),
:host([active]:not([disabled])) {
  transform: scale(0.975);
}

:host(.h-auto) {
  --height: 100%;
  --padding-vertical: 0;
}

:host .button {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  align-items: center;
  text-transform: var(--text-transform);
  outline: 0;
  border: var(--border);
  background: var(--background);
  padding: var(--padding);
  width: var(--width);
  height: var(--height);
  vertical-align: baseline;
  vertical-align: -webkit-baseline-middle;
  text-decoration: var(--text-decoration);
  line-height: 1;
  white-space: nowrap;
  color: var(--color);
  letter-spacing: 0.125em;
  font-family: inherit;
  font-size: var(--font-size);
  font-weight: 600;
  border-radius: var(--border-radius, 0);
}

:host midwest-label,
:host([tag="button"]) .content {
  color: inherit;
  margin: 0;
  line-height: 1.4;
}

:host ::slotted([slot="icon"]) {
  color: currentColor;
}

:host ::slotted([slot="icon"].right) {
  order: 2;
}

:host a.button,
:host span.button {
  width: auto;
}

:host .button:hover,
:host .button:focus {
  border: var(--active-border);
  background-color: var(--active-background);
  color: var(--active-color);
}

:host([block]),
:host([block]) .button {
  display: block;
  width: 100%;
}

:host ::slotted(*) {
  line-height: 1 !important;
  font-family: inherit;
}

:host([icon]) .button {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-gap: 0.4em;
}

:host([icon][block]) .button {
  display: grid;
}

:host .button midwest-progress {
  font-size: 2em;
  margin: -0.5em -0.25em -0.5em 0;
  color: var(--color);
}

:host ::slotted([slot="icon"]) {
  display: inline-block;
  float: none;
  width: 1em;
  height: 1em;
  font-size: 1.25em;
  margin: calc(var(--padding-vertical) * -0.5) 0 calc(var(--padding-vertical) * -0.5) calc(var(--padding-vertical) * -0.5);
  order: -1;
  margin-right: 0.1em;
  margin-left: -0.4em;
}

:host([size="small"]) ::slotted([slot="icon"]) {
  margin-top: -0.35em;
}

:host ::slotted([slot="icon"].right) {
  order: 2;
  margin-left: 0em;
  margin-right: -0.3em;
}

:host([ghost]) ::slotted([slot="icon"]) {
  font-size: 1.75em;
  margin-left: 0.125em !important;
}

:host([dark]) {
  --background: var(--theme-base-6);
  --color: var(--white);
  --active-background: var(--theme-base-7);
  --active-color: var(--white);
  --active-border: none;
}

:host([dark][disabled]) {
  --background: var(--gray7);
  --color: var(--gray9);
  --border: none;
  --active-background: var(--gray7);
  --active-color: var(--gray9);
  --active-border: none;
}

:host([dark][outline]) {
  --background: transparent;
  --color: var(--theme-base-0);
  --border: 2px solid var(--theme-base-0);
  --active-background: var(--theme-base-5);
  --active-color: var(--white);
  --active-border: 2px solid var(--theme-base-5);
}

:host([dark][outline][invert]) {
  --background: transparent;
  --color: var(--theme-base-0);
  --border: 2px solid var(--theme-base-0);
  --active-background: var(--theme-base-1);
  --active-color: var(--theme-base-7);
  --active-border: 2px solid var(--theme-base-1);
}

:host([dark][ghost]) {
  --padding: 0.05em 0 0.125em;
  --background: none;
  --color: var(--theme-base-3);
  --border: none;
  --active-background: none;
  --active-color: var(--theme-base-4);
  --active-border: none;
}

:host([dark][ghost][invert]) {
  --padding: 0.05em 0 0.125em;
  --background: none;
  --color: var(--theme-base-0);
  --border: none;
  --active-background: none;
  --active-color: var(--theme-base-1);
  --active-border: none;
}

:host([dark][ghost][disabled]) {
  --active-color: var(--theme-base-3);
}

:host([dark][ghost][invert][disabled]) {
  --active-color: var(--theme-base-0);
}