:host {
  display: block;
  overflow: hidden;
  width: 100%;
  font-weight: bold;
  height: inherit;
  position: relative;
  text-decoration: none;
  cursor: default;
  margin-right: calc(-2rem + 2px);
  clip-path: url(#middle);
  clip-path: polygon(
    calc(100% - 2rem) 0%,
    100% 50%,
    calc(100% - 2rem) 100%,
    0% 100%,
    2rem 50%,
    0% 0%
  );
}

:host([disabled]) {
  cursor: default;
  pointer-events: none;
}

:host ion-icon.valid {
  font-size: 2rem;
  margin-left: -1rem;
  margin-right: 0.5rem;
  --secondary: var(--theme-4);
  color: var(--theme-2);
}

:host .step-button {
  width: 100%;
  height: 100%;
  appearance: none;
  padding: 0;
  border: 0;
  position: relative;
  background: var(--gray-6);
  cursor: pointer;
}

:host midwest-label {
  margin: 0;
  color: white;
  z-index: 1;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host midwest-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

:host([complete]) .step-button {
  background: var(--theme-7);
}

:host([complete]) .step-button:hover,
:host([complete]) .step-button:focus {
  background: var(--theme-8);
}

:host([open]) .step-button,
:host([current]) .step-button {
  background: var(--theme-6);
}

:host([open]) .step-button .loading,
:host([current]) .step-button .loading {
  opacity: 1;
}


:host([dark]) .step-button {
  background: var(--gray-9);
}

:host([dark]) ion-icon.valid {
  --secondary: var(--theme-6);
  color: var(--theme-2);
}


:host([dark][complete]) .step-button {
  background: var(--theme-10);
}

:host([dark][complete]) .step-button:hover,
:host([dark][complete]) .step-button:focus {
  background: var(--theme-9);
}

:host([dark][open]) .step-button,
:host([dark][current]) .step-button {
  background: var(--theme-8);
}

:host([dark][open]) .step-button .loading,
:host([dark][current]) .step-button .loading {
  opacity: 1;
}

@media (max-width: 750px) {
  :host {
    width: auto;
    min-width: 20%;
  }

  :host([open]) {
    width: 100%;
  }

  :host ion-icon.valid {
    margin: auto;
  }

  :host([open]) ion-icon.valid {
    margin-left: -1rem;
    margin-right: 0.5rem;
  }

  :host .copy {
    display: none;
  }

  :host([open]) .copy {
    display: inline-block;
  }
}