:host,
:host *,
:host *:before,
:host *:after {
  box-sizing: border-box;
}

:root {
  --font-size: 1rem;
  --complementing-font-size: 0.875rem;
  --height: 3em;
  --padding: 0 1em;
  --background: var(--white);
  --color: var(--black);
  --icon-color: var(--gray4);
  --border-color: var(--gray2);
  --border: 1px solid var(--border-color);
  --line-height: 1.4;
  --border-radius: 0.3rem;
  --validation-spacing: 0.2em;
}

:host {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 100%;
  font-family: inherit;
  font-size: 16px;

  --font-size: 1rem;
  --complementing-font-size: 0.875rem;
  --height: 3em;
  --padding: 0 1em;
  --background: var(--white);
  --color: var(--black);
  --icon-color: var(--gray4);
  --border-color: var(--gray2);
  --border: 1px solid var(--border-color);
  --line-height: 1.4;
  --border-radius: 0.3rem;
  --validation-spacing: 0.2em;
}

:host ::-webkit-input-placeholder {
  color: var(--gray5);
}

:host ::-moz-placeholder {
  color: var(--gray5);
}

:host :-ms-input-placeholder {
  color: var(--gray5);
}

:host :-moz-placeholder {
  color: var(--gray5);
}

:host([icon="left"]) {
  --padding: 0 1em 0 3em;
}

:host([icon="right"]) {
  --padding: 0 1em 0 3em;
}

:host([icon="both"]) {
  --padding: 0 3em 0 3em;
}

:host([size="small"]) {
  --font-size: 0.875rem;
  --complementing-font-size: 0.75rem;
  --padding: 0 1em;
}

:host([size="large"]) {
  --font-size: 1.125em;
  --complementing-font-size: 1em;
  --padding: 0 1.125em;
}

:host([size="huge"]) {
  --font-size: 2em;
  --complementing-font-size: 12em;
  --padding: 0 0.75em;
}

:host(:hover),
:host(:focus) {
  --border-color: var(--theme-base3);
}

:host([inline]) .input {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none !important;
  --border-radius: 0;
}

:host ::selection,
:host *::selection {
  background: var(--theme-base2) !important;
}

:host .content {
  position: relative;
}

:host midwest-tooltip {
  width: calc(100% - 1.5em);
  pointer-events: none;
}

:host .star {
  color: var(--red5);
  padding-left: 0.125rem;
}

:host input,
:host .fake-input {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  outline: 0;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 100%;
  color: var(--color);
  font-weight: 500;
  -moz-appearance: none;
  font-family: inherit;
}

:host .fake-input {
  position: absolute;
  left: 2px;
  top: 2px;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background: var(--background);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  padding: var(--padding);
  color: var(--color);
  font-weight: 500;
  border: none;
}

:host .fake-input button,
:host .fake-input .range-splitter {
  @apply font-lato;
  font-size: inherit;
  appearance: none;
  border: 0;
  background: 0;
  padding: 0.25em 0.25em;
  margin: 0 -0.125em;
  font-variant-numeric: tabular-nums;
  border-radius: 0.1em;
  transition: all 50ms var(--ease) 0s;
  line-height: 1;
  color: var(--color);
}

:host .fake-input .range-splitter {
  padding: 0.25em 0.4em;
}

:host .fake-input button:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--theme-base5);
  z-index: 1;
}

:host .fake-input button.hour {
  margin-left: 0.125em;
}

:host(.db) input,
:host(.db) textarea,
:host(.db) .fake-input,
:host(.dib) input,
:host(.dib) textarea,
:host(.dib) .fake-input,
:host(.di) input,
:host(.di) textarea,
:host(.di) .fake-input {
  width: auto;
}

:host input::-moz-focus-inner,
:host textarea::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:host input::-webkit-inner-spin-button,
:host input::-webkit-outer-spin-button,
:host textarea::-webkit-inner-spin-button,
:host textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

:host input {
  box-sizing: inherit;
  background: var(--background);
  outline: 0;
  padding: var(--padding);
  height: var(--height);
  overflow: hidden;
  line-height: var(--line-height);
  font-size: var(--font-size);
}

:host input[disabled] {
  background: var(--gray0);
}

:host label {
  display: block;
}

:host([focused]) .input,
:host(:focus-within) .input,
:host(.invalid) .input {
  --border: 1px solid var(--theme-base5);
  box-shadow: inset 0 0 0 1px var(--theme-base5);
}

:host .icon {
  appearance: none;
  padding: 0;
  border: 0;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: calc(var(--font-size) * 2);
  width: calc(var(--font-size) * 2);
  height: calc(var(--font-size) * 2);
  margin-left: 0.5rem;
  color: var(--theme-base5);
  z-index: 3;
  display: flex;
}

:host .icon.right {
  right: 0;
  margin-right: 0.5rem;
}

:host .title {
  margin-top: 10px;
}

:host([dark]) {
  --border-color: var(--gray8);
  --background: var(--gray9);
  --color: var(--white);
  --icon-color: var(--gray6);
}

:host([dark]) .tokenfield.tokenfield-mode-tokens .focused {
  background: var(--theme-base7);
}

:host([dark]) .tokenfield .tokenfield-set > ul > li {
  background: var(--theme-base9);
}
