:host {
  width: var(--avatar-size);
  min-width: var(--avatar-size);
  max-height: var(--avatar-size);
  font-size: var(--avatar-font-size);
  
  --avatar-color: var(--theme-base-5);
  --avatar-color-dark: var(--theme-base-7);
  --avatar-font-color: var(--white);
  --avatar-size: 2rem;
  --avatar-font-size: 1rem;
  --avatar-text-shadow: 0 0 0px rgba(255, 255, 255, 0.4);
  --shadow-size: 2px;

  filter: drop-shadow(var(--drop-shadow));
}

:host([size="tiny"]) {
  --avatar-size: 1.5rem;
  --avatar-font-size: 1rem;
  --shadow-size: 1px;
}

:host([size="small"]) {
  --avatar-size: 1.75rem;
  --avatar-font-size: 1.25rem;
  --shadow-size: 2px;
}

:host([size="small"][shape="rectangle"]) {
  --avatar-font-size: 0.875rem;
}

:host([size="medium-small"]) {
  --avatar-size: 2.25rem;
  --avatar-font-size: 1.15rem;
  --shadow-size: 2.5px;
}

:host([size="medium"]) {
  --avatar-size: 3rem;
  --avatar-font-size: 1.25rem;
  --shadow-size: 3px;
}

:host([size="large"]) {
  --avatar-size: 5rem;
  --avatar-font-size: 2.5rem;
  --shadow-size: 4px;
}

:host([size="xlarge"]) {
  --avatar-size: 7.5rem;
  --avatar-font-size: 3.5rem;
  --shadow-size: 6px;
}

:host([size="huge"]) {
  --avatar-size: 10rem;
  --avatar-font-size: 5.5rem;
  --shadow-size: 8px;
}

:host .wrapper {
  display: block;
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 2.2em;
  font: inherit;
  font-size: var(--avatar-font-size);
  appearance: none;
  border: none;
  padding: 0;
  background: transparent;
}

:host .content {
  overflow: hidden;
  position: relative;
  transition: filter 100ms var(--ease) 0s;
}

:host .spacer {
  display: block;
  background: var(--avatar-color);
  background: linear-gradient(45deg, var(--avatar-color) 0%, var(--avatar-color-dark) 100%);
  padding-top: 100%;
  width: 100%;
  height: 0;
}

:host .spacer {
  filter: drop-shadow(0px var(--shadow-size) 0 var(--theme-base-7)) drop-shadow(0px calc(var(--shadow-size) * -1) 0 var(--theme-base-7)) drop-shadow(var(--shadow-size) 0px 0 var(--theme-base-7)) drop-shadow(calc(var(--shadow-size) * -1) 0px 0 var(--theme-base-7));
}

:host([src]) .spacer {
  filter: none;
}

:host .image .spacer {
  background: transparent;
}

:host .letter {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: lowercase;
  line-height: 100%;
  padding: 0 0.4em 0.2em;
  color: var(--avatar-font-color);
  font-size: var(--avatar-font-size);
  font-weight: 600;
  text-shadow: var(--avatar-text-shadow);
}

:host img {
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: inherit;
  background: var(--white);
  width: 100%;
  height: 100%;
  color: transparent;
  object-fit: cover;
}

/* Shapes */

/* Shapes: Square */
:host([shape='circle']) .wrapper,
:host([shape='circle']) .content,
:host([shape='circle']) .spacer {
  border-radius: 100%;
}

/* Shapes: Rectangle */
:host([shape='rectangle']) .spacer {
  padding-top: 60%;
}

:host([shape="rectangle"]) .letter {
  padding: 0;
}


/* Shapes: Diamond */
:host([shape='diamond']) .spacer {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/* Shapes: Diamond */
:host([shape='hexagon']) .spacer {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* Shapes: Star */
:host([shape='star']) .spacer {
  clip-path: polygon(50% 0%, 64% 27%, 98% 35%, 74% 57%, 79% 91%, 50% 76%, 21% 91%, 25% 57%, 2% 35%, 36% 28%);
}

/* Shapes: Message */
:host([shape='message']) .spacer {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

/* Processing */

/* Processing */
:host([processing]:not([processing="false"])) midwest-progress {
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  color: white;
}

:host([processing]:not([processing="false"])) .content {
  filter: blur(10px) grayscale(75%);
}

:host([processing][shape="rectangle"]:not([processing="false"])) midwest-progress,
:host([processing][shape="star"]:not([processing="false"])) midwest-progress,
:host([processing][shape="diamond"]:not([processing="false"])) midwest-progress,
:host([processing][shape="hexagon"]:not([processing="false"])) midwest-progress {
  font-size: 1em;
}

:host([dark]) {
  --avatar-color: var(--theme-base-5, var(--red5));
  --avatar-color-dark: var(--theme-base-6, var(--red6));
  --avatar-font-color: var(--theme-base-1);
  --avatar-text-shadow: 0 0 0px rgba(0, 0, 0, 0.4);
}

:host([processing][dark]:not([processing="false"])) midwest-progress {
  --theme-base-9: white !important;
  --theme-base-8: white !important;
  --theme-base-7: white !important;
}
